# Contents

1. Variables in Python
2. Basic Operators
3. More complex Operators

## 1. Variables in Python

Just like Excel, Python has different varibale types:
- **Strings** represent text variables
- **Integers** are integer numbers
- **Floats** are real numbers
- **Boleans** represent True or False statements
- **Lists**, where a list contains a number of items tht can be made out of different variables- strings, integers, floats etc.    Enclosed with square brackets [].
- **Tuples**, similar to lists but enclosed by the rounded brackets ()
- **Dictionary** has keys assigned to the variables. Enclosed by curly brackets {}

### Strings

In [41]:
# Using equals '=' to assing my string to a variable

my_cat = 'My cat is called Mia'

In [6]:
# Printing the variable my_cat

my_cat

'My cat is called Mia'

In [40]:
# Only printing the variable inside the apostrophe

print(my_cat)

Tom

In [8]:
# The function type() finds out what type of variable we have. In this case we have a string.

type(my_cat)

str

In [42]:
## assining string variables to names

my_cat = 'Tom'
my_mouse = 'Jerry'

## Adding string isn't always usefull
my_pets = my_cat + my_mouse
print(my_pets)

TomJerry

In [13]:
## Maybe this could help

my_pets = my_cat + ' ' + my_mouse
print(my_pets)

Tom Jerry

In [14]:
print('My cat is called '+ my_cat)

My cat is called Tom

In [27]:
## Or we can use the .format function

print('My cat is called {} and my mouse is called {}'.format(my_cat,my_mouse))

My cat is called Tom and my mouse is called Jerry

In [29]:
## or this 
print('My cat is called {one} and my mouse is called {two}'.format(one=my_cat,two=my_mouse))

My cat is called Tom and my mouse is called Jerry

### Integers

In [30]:
one = 1

one

1

In [18]:
two = 2

one + two

3

In [19]:
print(my_cat + str(one))

Tom1

In [31]:
## Basic maths functions

# Addition
100+123

223

In [44]:
# Multiplication
10*10

100

In [46]:
# To the power of

10 ** 3

1000

In [33]:
# Division
55 / 5

11.0

In [39]:
# Rounding to two decimal places 
round((55/4),2)

13.75

In [34]:
# Mod function
55 % 5

0

In [35]:
55 % 4

3

### Floats

In [47]:
## This is a float (maths terms- Rational/Real number)
5.98346

5.98346

In [49]:
## Rounding the float to 2 d.p.

round(5.98346,2)

5.98

### Boolean

In [51]:
# True or False

# Is 2 equal to 3?
2 == 3

False

In [52]:
my_cat == my_mouse

False

In [55]:
my_cat == 'Tom'

True

In [62]:
## Comparing numbers 

2 > 3

False

In [63]:
10 <= 11

True

### Lists

In [79]:
## A list of items enclose by ()

# assinging my_grades to a list of my gardes
my_grades = [8,7,8,9,4,5,6]

my_grades

[8, 7, 8, 9, 4, 5, 6]

In [61]:
type(my_grades)

list

In [64]:
# Obtain the first grade from my list by using the square brackets [] and 0 as the 1st item from the list 

my_grades[0]

8

In [81]:
# assign a new value to my first grade 8

my_grades[0] = 3

my_grades

[3, 7, 8, 9, 4, 5, 6, 8]

In [72]:
## what if we only want the 1st three variables

my_grades[0:3]

[3, 7, 8]

In [74]:
# nad the last three
my_grades[-3:]

[4, 5, 6]

In [80]:
## Append a new grade

my_grades.append(8)
my_grades

[8, 7, 8, 9, 4, 5, 6, 8]

In [82]:
# append a new grade with the old system

my_grades.append('B')
my_grades

[3, 7, 8, 9, 4, 5, 6, 8, 'B']

In [66]:
## List can have strings

my_friends = ['Mia','Tom','George','Maggie','Steph']

my_friends

['Mia', 'Tom', 'George', 'Maggie', 'Steph']

In [84]:
# If you want to replace Tom... then 

my_friends[1] = 'Gaby'
my_friends`b

['Mia', 'Gaby', 'George', 'Maggie', 'Steph']

In [86]:
# Nested list 

nested = [3,4,6,['Eggs','Milk','Cheese',['Sainsbury','tesco']]]
nested

[3, 4, 6, ['Eggs', 'Milk', 'Cheese', ['Sainsbury', 'tesco']]]

In [87]:
## Extracting items from the nest is funn

#Extracting 
nested[3]

['Eggs', 'Milk', 'Cheese', ['Sainsbury', 'tesco']]

### Tuples

In [ ]:
# Difference between lists and tuples is that a 'tuple' object does not support item assignment

### Dictionary